<ion-app *ngIf="!user_id">
  <ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >
      <ion-card>
        <ion-item>
          <ion-input name="username" type="text" placeholder="Username" [(ngModel)]='login_user'>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="password" type="password" placeholder="Password" [(ngModel)]='login_passwd'>
          </ion-input>
        </ion-item>
          <ion-button type="submit" expand="block" (click)='login()'>Login</ion-button>
        <ion-chip *ngIf="login_error">{{login_error}}</ion-chip>
    </ion-card>
  </ion-content>
</ion-app>

<ion-app *ngIf="user_id">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Komiku</ion-list-header>
          <ion-note>hi {{name}}</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" routerDirection="root" [routerLink]="'/home'" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'home-outline'" [md]="'home-sharp'"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item lines="none" routerDirection="root" [routerLink]="'/search'" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'search-outline'" [md]="'search-sharp'"></ion-icon>
              <ion-label>Search</ion-label>
            </ion-item>
            <ion-item lines="none" routerDirection="root" [routerLink]="'/category'" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'albums-outline'" [md]="'albums-sharp'"></ion-icon>
              <ion-label>Category</ion-label>
            </ion-item>
            <ion-item lines="none" routerDirection="root" [routerLink]="'/favoritelist'" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              <ion-label>Favorite</ion-label>
            </ion-item>
            <ion-item  lines="none" routerDirection="root" [routerLink]="''" detail="false" (click)='logout()'>
              <ion-icon  color="danger" slot="start" [ios]="'exit-outline'" [md]="'exit-sharp'"></ion-icon>
              <ion-label color="danger">Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
