<style>
  ion-slides {
    height: 90%;
  }
</style>

<ion-content>
  <ion-text class="ion-text-center">
    <h1>POPULAR COMIC</h1>
  </ion-text>

  <ion-slides pager="true">
    <ion-slide *ngFor="let comic of comics; let i = index">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{comic.judul}}</ion-card-title>
        </ion-card-header>
        <img alt="" style="height: 500px;" src="{{comic.url_poster}}" />      
        <ion-card-content>
          <ion-row class="ion-align-items-center ion-justify-content-between">
            <ion-row>
              <p style="margin: 0 8px;">Rating: {{comic.total_rating}}</p>
              <p style="margin: 0 8px;">Views: {{comic.view}}</p>
              <p style="margin: 0 8px;">Komentar: {{comic.jumkomentar}}</p>
            </ion-row>
            <ion-button class="ion-margin-end" expand="block" shape="round" routerLink="/readcomic/{{comic.idkomik}}">
              Read
            </ion-button>
          </ion-row>
        </ion-card-content>   
      </ion-card>    
    </ion-slide>
  </ion-slides>
</ion-content>
